
.mountain{
  background-image: url("https://wallpaperbat.com/img/8614851-artistic-wallpaper-designs-cool-4k.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  /*fixed
The background is fixed relative to the viewport. Even if an element has a
scrolling mechanism, the background doesn't move with the element.*/
background-position: center;
height:100vh;
/*needed to give it height even with size*/
}

.myFade {
  height: 200vh; /* Adjust based on how gradual you want the fade */
  background: linear-gradient(#fd9f59, rgb(239, 176, 187) );
  opacity: 1;
  display:block;
}

.sky{
  background-image: url("https://images5.alphacoders.com/132/thumb-1920-1327980.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*fixed
The background is fixed relative to the viewport. Even if an element has a
scrolling mechanism, the background doesn't move with the element.*/
background-position: center;
height:100vh;
/*needed to give it height even with size*/
background-size: cover;
}
.fade2{
  height: 200vh; /* Adjust based on how gradual you want the fade */
  background: linear-gradient(rgb(255, 202, 212), black);
}
.space{
  background-image: url("https://i.pinimg.com/736x/96/69/32/966932addf40da9dccfacad5d09b15da.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*fixed
The background is fixed relative to the viewport. Even if an element has a
scrolling mechanism, the background doesn't move with the element.*/
background-position: center;
height:100vh;
/*needed to give it height even with size*/
background-size: cover;
position:relative;
}
h1, p {
  margin: 0;
  padding: 0;
}



.shooting-stars{
  width:9%;
  height:10%;
  position: absolute; /*needed to allow it to use top left right bottom*/
  left:20px;
  top:10px;
animation-name: fly;
animation-duration: 10s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
.shooting-stars:hover{
content: url("https://png.pngtree.com/png-clipart/20220916/original/pngtree-retro-cartoon-explosion-png-image_8620539.png");
}

.hi{
position: absolute;
margin-top: 50vh;
margin-left: 40vw;
text-emphasis-position: over;
font-size: 5vw;
display: flex;
flex-direction: column;
justify-content: center;
font-weight:600;

}



@keyframes fly 
{
0%{
transform: translateX(10px) translateY(-20px)
}
100%{
transform: translateX(95vw) translateY(40vh)
}
}
.mountain{
cursor: url(https://cdn.custom-cursor.com/db/17300/32/animals-sparrow-cursor.png) , default;
color: black;
font-weight: 1000;
}

#mode{
  cursor: url(https://cdn.custom-cursor.com/db/17299/32/animals-sparrow-pointer.png), pointer !important;}

.sky{
cursor: url(https://cdn.custom-cursor.com/db/20870/32/vsco-blue-pink-airplane-and-luggage-cursor.png), default;}
#a{
cursor: url(https://cdn.custom-cursor.com/db/20869/32/vsco-blue-pink-airplane-and-luggage-pointer.png), pointer !important;
}

.space{
cursor: url(https://cdn.custom-cursor.com/db/12296/32/neon-rocket-and-planet-cursor.png), default;
}
.shooting-stars{
cursor: url(https://cdn.custom-cursor.com/db/12295/32/neon-rocket-and-planet-cursor.png), pointer !important;
}

a{
cursor: url(https://cdn.custom-cursor.com/db/17299/32/animals-sparrow-pointer.png) , default;
}

.topnav a {


text-align: center;
padding-left: 5%;
padding-right: 5%;
outline: black;
color:white;

}
.topnav{
background-color: black;
position:fixed;
width: 100%;
z-index: 100;
top:0%;
color:white;
font-weight: larger;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:larger;
}
#mode{
background-color:aliceblue;
float:right;
}

.topnav a:hover {
color: #007acc;
}
#mode:hover {
color:darkmagenta;
}
#top-cursor{
cursor: url(https://cdn.custom-cursor.com/db/17299/32/animals-sparrow-pointer.png), pointer !important;
}
#middle-cursor:hover {
cursor: url(https://cdn.custom-cursor.com/db/20870/32/vsco-blue-pink-airplane-and-luggage-cursor.png), pointer !important;
}
#bottom-cursor:hover{
cursor: url(https://cdn.custom-cursor.com/db/12296/32/neon-rocket-and-planet-cursor.png), pointer !important;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10vh;
  width:max-content;
  transform-origin: center;
  animation: scroll-right 12s linear infinite;
}


.project img {
  width: 22vw;
  height:22vh;
  margin: 4vh;
  height: auto;
  margin-top:15vh;
  cursor: pointer;

}
.project:hover{
  transform: scale(1.25);
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* how did i loop it */
  }
}
.cwrapper {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.projects-container:hover {
  animation-play-state: paused;
}